
.hidden-card {
    display: none;
  }
  

  .product-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  /* Styles for the modal */
  .modal-with-gradient {
    background-image: url('../img/pinetwork3.jpg');
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  /* Styles for the modal content */
  .product-modal-content {
    background: radial-gradient(circle, orange, violet);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .product-modal img {
    max-width: 100%;
    height: auto;
    background: radial-gradient(circle, orange, violet);
  }
  
  .product-modal button {
    margin-top: 10px;
  }
  

  
  
  